<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
<h1>Write your name, age, and a message!</h1>
<br>

<form>action="/create" method="POST"
    <input type="text" qoute="qoute" placeholder="write qoute">
    <input type="text" author="firstname" placeholder="Name">
    <input type="text" age="xyears" placeholder="your age">
 	<input type="submit" value="Submit">
</form>










<!-- Create your form here!
 -->
 
</body>
</html>